# URL
APP_FULL_BASE_URL=[PUT_YOUR_BASE_URL_HERE]

# Database settings
DATASOURCES_DEFAULT_HOST=passboltdb
DATASOURCES_DEFAULT_USERNAME=passbolt
DATASOURCES_DEFAULT_PASSWORD=[PUT_YOUR_MYSQL_PASSBOLT_PASSWORD_HERE]
DATASOURCES_DEFAULT_DATABASE=passbolt
DATASOURCES_DEFAULT_PORT=3306

# Registration
PASSBOLT_REGISTRATION_PUBLIC=true

# Mail server
EMAIL_TRANSPORT_DEFAULT_HOST=mail
EMAIL_TRANSPORT_DEFAULT_PORT=25
